[submodule "3rdparty/zeromq"]
	path = 3rdparty/zeromq
	url = https://github.com/zeromq/cppzmq.git
[submodule "externalLibraries/Database"]
	path = externalLibraries/Database
	url = git@github.com:trunksBT/Almag_Database.git
[submodule "3rdparty/googletest"]
	path = 3rdparty/googletest
	url = https://github.com/google/googletest.git
[submodule "externalLibraries/UserInterface"]
	path = externalLibraries/UserInterface
	url = git@github.com:trunksBT/Almag_UserInterface.git
[submodule "externalLibraries/Utils"]
	path = externalLibraries/Utils
	url = git@github.com:trunksBT/Almag_Utils.git
[submodule "docs/UML_SequenceDiagrams"]
	path = docs/UML_SequenceDiagrams
	url = git@github.com:trunksBT/Almag_RetDriver_Device_Simulator_Docs.git
[submodule "externalLibraries/Controller"]
	path = externalLibraries/Controller
	url = git@github.com:trunksBT/Almag_Controller.git
[submodule "externalLibraries/HDLC"]
	path = externalLibraries/HDLC
	url = git@github.com:trunksBT/Almag_HDLC.git
