3rdparty/*
CMakeFiles/
build/

CMakeCache*
Makefile
cmake_install.cmake
*.swl
*.swm
*.swn
*.swo
*.swp
*.cpp~
*.cbp
lib
logs
tags
.idea

# Binaries
KorytkoMag_RetSimulator
KorytkoMag_RetSimulator_UT
KorytkoMag_RetSimulator_MT

